/*
    DEMO STYLE
*/

@import "https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700";
body {

  font-family: "Raleway", sans-serif;
    background: #fafafa;
}

p {

  font-family: "Raleway", sans-serif;
    font-size: 1.1em;
    font-weight: 300;
    line-height: 1.7em;
    color: #fff;
}
h1, h2, h3, h4, h5, h6 {
    font-family: "Raleway", sans-serif;
    color: #fff;
}
a,
a:hover,
a:focus {
    color: inherit;
    text-decoration: none;
    transition: all 0.3s;
}

.navbar {

    background: rgba(0,0,0,0);
    border: none;
    margin-bottom: 40px;
    z-index: 998;
    width: 200px;
    padding:5px;
}

.navbar-btn {
    box-shadow: none;
    outline: none !important;
    border: none;
}

.legend{
    z-index: 500;
}
#info legend leaflet-control{
    z-index:500;
}


/* ---------------------------------------------------
    SIDEBAR STYLE
----------------------------------------------------- */
#sidebar {
    width: 80vh;
    position: fixed;
    top: 0;
    left: -80vh;
    height: 100vh;
    z-index: 9999;
    background: rgba(15,67,30, 0.7);
    color: #fff;
    transition: all 0.3s;
    overflow-y: scroll;
    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.2);
    align-content: center;
    padding-right: 15px;
    padding-left: 2px;
}

#sidebar.active {
    left: 0;
}
#IMAGEN_FLOT {
                        position:absolute;
                        bottom:80%;
                        left:77%;
                        }
#dismiss {
    width: 35px;
    height: 35px;
    line-height: 35px;
    text-align: center;
    background:  rgba(15,67,30, 0.9);
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
    -webkit-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
}

#dismiss:hover {
    background: #fff;
    color: rgba(15,67,30, 0.9);
}



#sidebar .sidebar-header {
    padding: 20px;
    background:  rgba(15,67,30, 0.9);
    text-align:center;
}

#sidebar ul.components {
    padding: 20px 0;
    border-bottom: 1px solid #6f8282;

}

#sidebar ul p {
    color: #fff;
    padding: 10px;
    display:inline;
}

#sidebar ul li a {
    padding: 10px;
    font-size: 1.1em;
    display: block;
}

#sidebar ul li a:hover {
    color:#004735;
    background: #fff;
}

#sidebar ul li.active>a,
a[aria-expanded="true"] {
    color: #fff;
    background: #004735;
}

a[data-toggle="collapse"] {
    position: relative;
}

.dropdown-toggle::after {
    display: block;
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
}
form{
    display:inline-block;
    text-align:center;

}
ul ul a {
    font-size: 0.9em !important;
    padding-left: 30px !important;
    background: #004735;
}

ul.CTAs {
    padding: 20px;
}

ul.CTAs a {
    text-align: center;
    font-size: 0.9em !important;
    display: block;
    border-radius: 5px;
    margin-bottom: 5px;
}

a.download {
    background: #fff;
    color: #148F77;

}

a.article,
a.article:hover {
    background: #148F77!important;
    color: #fff !important;
}

@media only screen and (max-width: 600px) {
    #sidebar{
        width:40vh;
    }
    #IMAGEN_FLOT {
                        position:absolute;
                        bottom:10%;
                        left:77%;
                        }
}
/* ---------------------------------------------------
    CONTENT STYLE
----------------------------------------------------- */

#content {
    width: 100%;
    padding: 20px;
    min-height: 100vh;
    transition: all 0.3s;
    position: absolute;
    top: 0;
    right: 0;
}

#newLayer{
    color: #232323;
    background-color: #fff;
    align-content: center;
    border: none;
    margin-left: 62px;
    margin-right: 62px;
}
#newLayer:hover{
    background-color: #004735;
    position: relative;
    border:none ;
    color: #fff;
}
#downloaderLayer{
    color: #232323;
    background-color: #fff;
    align-content: center;
    border: none;
    margin-top:10px;
    margin-left: 62px;
    margin-right: 62px;
}
#downloaderLayer:hover{
    background-color: #004735;
    position: relative;
    border:none ;
    color: #fff;
}

#sidebarCollapse{
    background: rgba(15,67, 30, 0.8);
}
#sidebarCollapse:hover{
    background: #148F77;
}

